# Aliases Essenciais

alias ll='ls -lah'                 # Lista arquivos com detalhes
alias la='ls -a'                   # Lista arquivos, incluindo ocultos

# Comandos de Navegação

alias ç='cd'                       # Um "C" com "~" em baixo
alias ...='cd ../..'               # Volta dois diretórios
alias ....='cd ../../..'           # Volta três diretórios

# Sistema

alias e='exit'                     # Encerra a sessão do terminal
alias clr='clear'                  # Limpar a tela
alias df='df -h'                   # Exibir uso de disco de forma legível
alias free='free -h'               # Exibir memória disponível de forma legível

# Programas

alias ff='fastfetch'               # execute fastfetch
